.info {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
  background: $main-color;
  color: $main-bg;
  padding: var(--outer-margin-y) var(--outer-margin-x);
  gap: 0 var(--gap);
  grid-template-columns: repeat(12, 1fr);
  overflow: auto;
  
  a,
  button {
    color: $main-bg;
  }
  
  .about-active & {
    display: grid;
  }
  
  .info-toggle {
    position: fixed;
    top: var(--outer-margin-y);
    right: var(--outer-margin-x);
    z-index: 901;
    text-transform: uppercase;
  }
  
  .info-section {
    grid-column: span 12;
    
    @include breakpoint($m-up) {
      grid-column: span 6;
    }
  }
  
  .info-heading {
    text-transform: uppercase;
    margin-bottom: var(--leading);
  }
  
  .info-content {
    margin-bottom: var(--leading);
    
    &.has-columns {
      display: grid;
      gap: 0 var(--gap);
      grid-template-columns: repeat(6, 1fr);
      
      .info-content-column {
        grid-column: span 3;
      }
    }
    
    a {
      &:hover {
        &::before {
          content: '↗ ';
        }
      }
    }
    
    ul {
      li {
        text-indent: -1em;
        padding-left: 1em;
      }
    }
  }
  
  .info-section-clients {
    .info-content {
      column-count: 2;
      column-gap: var(--gap);
    }
  }
}