@font-face {
  font-family: 'Monument Grotesk';
  src: url('../fonts/ABCMonumentGrotesk-Regular.woff2') format('woff2'),
       url('../fonts/ABCMonumentGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url('../fonts/ABCMonumentGrotesk-RegularItalic.woff2') format('woff2'),
       url('../fonts/ABCMonumentGrotesk-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

//@font-face {
//  font-family: 'Monument Grotesk Semi-Mono';
//  src: url('../fonts/ABCMonumentGroteskSemi-Mono-Regular.woff2') format('woff2'),
//       url('../fonts/ABCMonumentGroteskSemi-Mono-Regular.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Monument Grotesk Semi-Mono';
//  src: url('../fonts/ABCMonumentGroteskSemi-Mono-RegularItalic.woff2') format('woff2'),
//       url('../fonts/ABCMonumentGroteskSemi-Mono-RegularItalic.woff') format('woff');
//  font-weight: normal;
//  font-style: italic;
//}
