.site-footer {
  position: sticky;
  bottom: 0;
  border-top: 1px solid $main-color;
  margin-top: -1px;
  padding: calc(var(--leading) / 3) 0 calc(var(--outer-margin-y) - 2px);
  display: flex;
  justify-content: space-between;
  background: $main-bg;
  font-feature-settings: 'case';
  
  .site-footer-contact {
    text-transform: uppercase;
  }
}