$s: max-width 767px;
$m-down: max-width 1023px;
$m: 768px 1023px;
$m-up: min-width 768px;
$l-down: max-width 1599px;
$l: 1024px 1599px;
$l-up: min-width 1024px;
$xl: min-width 1600px;

$main-color: #222;
$main-bg: #aaa;
$accent: #fff;

:root {
  --viewport-height: 100%;
  --outer-margin-y: .7rem;
  --outer-margin-x: .75rem;
  --leading: 1.2em;
  --gap: .75rem;
  --letter-spacing: .02em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 12px;

  @include breakpoint($m-up) {
    font-size: 1.333vw;
  }

  @include breakpoint($xl) {
    font-size: 21px;
  }
}

body {
  background: $main-bg;
  color: $main-color;
  font-family: 'Monument Grotesk', sans-serif;
  font-size: 1rem;
  line-height: var(--leading);
  word-spacing: .06em;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  @include antialiased;
}

img,
audio,
video,
iframe,
object,
embed,
canvas {
  max-width: 100%;
  height: auto;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

a {
  color: $main-color;
  cursor: url('/images/cursor-white.svg') 6 6, auto;
  cursor: -webkit-image-set(
    url('/images/cursor-white.svg') 1x,
    url('/images/cursor-white@2x.svg') 2x
  ) 6 6, auto;
  
  &:hover {
    color: $accent;
  }
}

button {
  color: $main-color;
  cursor: pointer;
  
  &:hover {
    color: $accent;
  }
}

button,
input,
textarea {
  font-family: 'Monument Grotesk', sans-serif;
  font-size: 1rem;
  line-height: var(--leading);
  letter-spacing: var(--letter-spacing);
}

.lining {
  vertical-align: .09em;
  line-height: 0;
}

.site-container {
  padding: var(--outer-margin-y) var(--outer-margin-x);
  min-height: 100vh;
  
  &#home {
    cursor: url('/images/cursor-black.svg') 6 6, auto;
    cursor: -webkit-image-set(
      url('/images/cursor-black.svg') 1x,
      url('/images/cursor-black@2x.svg') 2x
    ) 6 6, auto;
  }
  
  &#info {
    background: $main-color;
    color: $main-bg;
    cursor: url('/images/cursor-gray.svg') 6 6, auto;
    cursor: -webkit-image-set(
      url('/images/cursor-gray.svg') 1x,
      url('/images/cursor-gray@2x.svg') 2x
    ) 6 6, auto;
    
    a {
      color: $main-bg;
      
      &:hover {
        color: $accent;
      }
    }
  }
}

.projects-list {
  position: relative;
  
  .projects-list-header {
    position: sticky;
    top: calc(var(--outer-margin-y) + var(--leading));
    z-index: 50;
    display: none;
    gap: 0 var(--gap);
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: calc(var(--leading) / 3);
    background: $main-bg;
    border-bottom: 1px solid $main-color;
    
    @include breakpoint($m-up) {
      display: grid;
    }
    
    .projects-list-header-date,
    .projects-list-header-client,
    .projects-list-header-categories,
    .projects-list-header-collaborators {
      grid-column: span 2;
    }
    
    .projects-list-header-title {
      grid-column: span 4;
    }
  }
  
  .project-preview[data-start-of-year=true] .project-preview-date {
    visibility: visible;
  }
  
  .project-preview-content {
    position: relative;
    display: grid;
    gap: 0 var(--gap);
    grid-template-columns: repeat(12, 1fr);
    
    .project-preview-content-inner {
      display: grid;
      gap: 0 var(--gap);
      grid-template-columns: repeat(11, 1fr);
      padding: calc(var(--leading) / 3) 0;
      border-top: 1px solid $main-color;
      margin-top: -1px;
      grid-column: span 11;
      
      @include breakpoint($m-up) {
        grid-column: span 10;
        grid-template-columns: repeat(10, 1fr);
      }
    }
    
    &::before {
      display: none;
      position: absolute;
      top: calc(var(--leading) / 3);
      left: 0;
      width: 12rem;
      content: '→ Case study';
      pointer-events: none;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      
      @include breakpoint($xl) {
        width: auto;
      }
    }
    
    &.project-preview-external-link {
      &:hover {
        color: #0ff;
        
        cursor: url('/images/cursor-teal.svg') 6 6, auto;
        cursor: -webkit-image-set(
          url('/images/cursor-teal.svg') 1x,
          url('/images/cursor-teal@2x.svg') 2x
        ) 6 6, auto;
      }
      
      &::before {
        content: '↗ ' attr(data-url-label);
      }
    }
    
    &:hover {
      @media (hover: hover) {
        @include breakpoint($m-up) {
          &::before {
            display: block;
          }
          
          .project-preview-date-inner {
            visibility: hidden;
          }
        }
        
        .project-preview-thumbnail {
          transition: opacity .4s ease-in .2s;
          opacity: .75;
        }
      }
    }
    
    .project-preview-date {
      position: relative;
      grid-column: span 1;
      padding: calc(var(--leading) / 3 + 1px) 0;
      font-variant-numeric: tabular-nums;
      visibility: hidden;
      margin-top: -1px;
      
      @include breakpoint($m-up) {
        grid-column: span 2;
      }
      
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + var(--gap));
        border-top: 1px solid $main-color;
      }
    }
    
    .project-preview-title {
      grid-column: span 7;
      
      @include breakpoint($s) {
        order: 1;
      }
      
      @include breakpoint($m-up) {
        grid-column: span 4;
      }
    }
    
    .project-preview-client,
    .project-preview-categories,
    .project-preview-collaborators {
      grid-column: span 11;
      
      @include breakpoint($m-up) {
        grid-column: span 2;
      }
      
      li {
        display: inline;
        
        &::after {
          content: ', ';
        }
        
        &:last-child::after {
          content: '';
        }
      }
    }
    
    .project-preview-client {
      @include breakpoint($s) {
        order: 3;
      }
    }
    
    .project-preview-categories {
      @include breakpoint($s) {
        grid-column: span 4;
        order: 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    
    .project-preview-collaborators {
      @include breakpoint($s) {
        display: none;
        order: 4;
      }
    }
    
    .project-preview-thumbnail {
      position: fixed;
      top: 4rem;
      right: var(--outer-margin-x);
      bottom: 4rem;
      left: var(--outer-margin-x);
      z-index: 100;
      pointer-events: none;
      opacity: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      transition: opacity .25s ease-in-out 0s;
      mix-blend-mode: screen;
    }
  }
}