.site-header {
  margin-bottom: var(--leading);
  
  #project & {
    margin-bottom: 0;
  }
  
  .site-header-nav-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
    padding: 0 var(--outer-margin-x);
    
    #info &,
    #project & {
      position: relative;
      width: auto;
      padding: 0;
    }
  }
  
  .site-header-nav {
    position: relative;
    max-width: var(--max-width);
    margin: 0 auto;
  }
  
  .site-header-title,
  .site-header-info {
    position: absolute;
    top: 0;
    text-transform: uppercase;
    background: $main-bg;
    width: 50%;
    padding-top: var(--outer-margin-y);
    
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      height: .1rem;
      background: linear-gradient(to bottom, rgba($main-bg, 1) 0%,rgba($main-bg, 0) 100%);
      pointer-events: none;
    }
    
    #info &,
    #project & {
      background: transparent;
      padding-top: 0;
      
      &::after {
        display: none;
      }
    }
    
    #info & {
      color: $accent;
    }
  }
  
  .site-header-title {
    left: 0;
    
    #home & a {
      pointer-events: none;
    }
    
    #info &,
    #project & {
      position: relative;
      width: 100%;
      
      a::after {
        content: 'Close';
        position: absolute;
        top: 0;
        right: 0;
        padding: var(--outer-margin-y) var(--outer-margin-x) 0;
        z-index: 100;
        width: 2.5rem;
        height: 2.5rem;
        background: url('/images/close-gray.svg') right 5% no-repeat;
        background-size: .825rem auto;
        text-align: right;
        @include hide-text;
      }
      
      a:hover::after {
        @media (hover: hover) {
          background-image: url('/images/close-white.svg');
        }
      }
    }
    
    #project & {
      a::after {
        background-image: url('/images/close-black.svg');
      }
      
      a:hover::after {
        @media (hover: hover) {
          background-image: url('/images/close-gray.svg');
        }
      }
    }
  }
  
  .site-header-info {
    right: 0;
    text-align: right;
    
    #info &,
    #project & {
      display: none;
    }
  }
  
  .site-header-subtitle {
    margin-top: var(--leading);
    
    #info &,
    #project & {
      display: none;
    }
  }
}