.featured {
  width: 100%;
  height: calc(75vh - (var(--leading) * 2) - calc(var(--outer-margin-y) * 2));
  
  .slide {
    height: 100vh;
    
    img,
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: calc(100% - 1.75rem);
      max-height: calc(100% - 12rem);
      transform: translate(-50%, -50%);
      
      @include breakpoint($m-up) {
        max-width: calc(100% - 6rem);
        max-height: calc(100% - 12rem);
      }
    }
    
    .slide-caption {
      position: fixed;
      bottom: var(--outer-margin-y);
      left: var(--outer-margin-x);
      z-index: 300;
      width: 50%;
    }
  }
  
  .slick-prev {
    display: none !important;
  }
  
  .slick-next {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    @include hide-text;
  }
}