#info {
  .info {
    display: grid;
    gap: 0 var(--gap);
    grid-template-columns: repeat(12, 1fr);
  }
  
  .info-section {
    grid-column: span 12;
    margin-bottom: var(--leading);
    
    @include breakpoint($m-up) {
      grid-column: span 3;
      
      &.info-section-clients {
        grid-column: span 6;
      }
    }
  }
  
  .info-statement {
    grid-column: span 12;
    margin: -.06em 0 1.1em -.06em;
    font-size: 1.75rem;
    line-height: 1.1em;
    letter-spacing: -.02em;
    word-spacing: -.02em;
    
    @include breakpoint($m-up) {
      font-size: 2.125rem;
      line-height: 1.1em;
    }
  }
  
  .info-heading {
    margin-top: var(--leading);
    margin-bottom: calc(var(--leading) / 2);
    
    &:first-child {
      margin-top: 0;
    }
  }
  
  .info-content {
    margin-bottom: var(--leading);
    
    p {
      margin-bottom: calc(var(--leading) / 2);
    }
    
    &.has-columns {
      display: grid;
      gap: 0 var(--gap);
      grid-template-columns: repeat(6, 1fr);
      
      .info-content-column {
        grid-column: span 3;
      }
    }
    
    a {
      &:hover {
        &::before {
          content: '↗ ';
        }
      }
      
      @media (hover: none) {
        &::before {
          content: '↗ ';
        }
      }
    }
    
    ul {
      li {
        text-indent: -1em;
        padding-left: 1em;
      }
    }
  }
  
  .info-section-contact {
    @include breakpoint($s) {
      .info-content {
        column-count: 2;
        column-gap: var(--gap);
        
        p {
          break-inside: avoid;
        }
      }
    }
  }
  
  .info-section-clients {
    .info-content {
      column-count: 2;
      column-gap: var(--gap);
      
      li {
        break-inside: avoid;
      }
    }
  }
  
  .info-section-press {
    ul {
      margin-bottom: calc(var(--leading) / 2);
    }
    
    @include breakpoint($s) {
      .info-content {
        column-count: 2;
        column-gap: var(--gap);
        
        .info-content-section {
          break-inside: avoid;
        }
      }
    }
  }
  
  .info-content-section {
    margin-bottom: var(--leading);
  }
}