#info {
  .info {
    display: grid;
    gap: 0 var(--gap);
    grid-template-columns: repeat(12, 1fr);
  }
  
  .info-section {
    grid-column: span 6;
    margin-bottom: var(--leading);
    
    @include breakpoint($m-up) {
      grid-column: span 3;
    }
  }
  
  .info-statement {
    grid-column: span 12;
    margin: 1em auto 1.5em;
    padding: 0 1em;
    font-size: 4rem;
    line-height: 1em;
    //letter-spacing: -.02em;
    word-spacing: -.02em;
    max-width: 1300px;
    text-align: center;
    
    @include breakpoint($m-up) {
      font-size: 8rem;
      line-height: 1em;
    }
  }
  
  .info-heading {
    margin-top: var(--leading);
    margin-bottom: calc(var(--leading) / 2);
    
    &:first-child {
      margin-top: 0;
    }
  }
  
  .info-content {
    margin-bottom: var(--leading);
    
    p {
      margin-bottom: calc(var(--leading) / 2);
    }
    
    &.has-columns {
      display: grid;
      gap: 0 var(--gap);
      grid-template-columns: repeat(6, 1fr);
      
      .info-content-column {
        grid-column: span 3;
      }
    }
    
    .info-social a {
      &:hover {
        &::after {
          content: ' ↗';
        }
      }
      
      @media (hover: none) {
        &::after {
          content: ' ↗';
        }
      }
    }
    
    ul {
      li {
        text-indent: -1.5em;
        padding-left: 1.5em;
      }
    }
  }
  
  .info-section-press {
    ul {
      margin-bottom: calc(var(--leading) / 2);
    }
  }
  
  .info-content-section {
    margin-bottom: var(--leading);
  }
}