#project {
  .project-meta-header {
    min-height: 50vh;
    grid-auto-rows: min-content;
  }
  
  .project-preview-thumbnail {
    position: fixed;
    top: 7rem;
    right: var(--outer-margin-x);
    bottom: 7rem;
    left: var(--outer-margin-x);
    z-index: -1;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: opacity .25s ease-in-out 0s;
    
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height: calc(100vh - 14rem);
    }
  }
  
  .project-content {
    z-index: 400;
    display: grid;
    gap: 0 var(--gap);
    grid-template-columns: repeat(12, 1fr);
    border-top: 1px solid $main-color;
    padding-top: calc(var(--leading) / 3);
    margin-top: calc(50vh - 4rem);
    min-height: calc(100vh - var(--outer-margin-y) + 1px);
    background: $accent;
    grid-auto-rows: min-content;
  }
  
  .project-text,
  .project-meta-secondary {
    margin-bottom: var(--leading);
  }
  
  .project-text {
    grid-column: span 12;
    
    @include breakpoint($m-up) {
      grid-column: span 6;
      display: grid;
      gap: 0 var(--gap);
      grid-template-columns: repeat(6, 1fr);
      
      .project-text-heading {
        grid-column: span 2;
      }
      
      .project-text-content {
        grid-column: span 4;
      }
    }
  }
  
  .project-meta-secondary {
    grid-column: span 12;
    display: grid;
    gap: 0 var(--gap);
    grid-template-columns: repeat(12, 1fr);
    
    @include breakpoint($m-up) {
      grid-column: span 6;
      grid-template-columns: repeat(6, 1fr);
    }
    
    a {
      &:hover::before {
        content: '↗ ';
      }
    }
    
    .project-meta-secondary-url {
      grid-column: span 6;
      
      @include breakpoint($m-up) {
        grid-column-start: 3;
        grid-column-end: 5;
      }
    }
    
    .project-meta-secondary-credits {
      grid-column: span 6;
      
      @include breakpoint($m-up) {
        grid-column-start: 5;
        grid-column-end: 7;
      }
    }
    
    .project-meta-secondary-collaborator {
      @include breakpoint($m-up) {
        display: none;
      }
    }
  }
  
  .project-media {
    grid-column: span 12;
    display: grid;
    gap: 0 var(--gap);
    grid-template-columns: repeat(12, 1fr);
    
    .project-media-item {
      line-height: 0;
      margin-bottom: var(--outer-margin-x);
      grid-column: span 12;
      
      &[data-display='halfWidth'] {
        grid-column: span 6;
      }
      
      &:last-child {
        margin-bottom: 0;
      }
      
      .project-media-item-caption {
        line-height: var(--leading);
        padding: calc(var(--leading) / 3) 0;
        
        @include breakpoint($m-up) {
          width: 50%;
        }
      }
    }
  }
}