.yarl__root {
  --yarl__color_backdrop: rgba(0, 0, 0, 0);
}

.yarl__container {
  //background: url('/images/disabled.png') !important;
  //background-size: 2px 2px !important;
}

.yarl__navigation_prev {
  display: none;
}

.yarl__button[aria-label='Close'],
.yarl__navigation_next {
  position: fixed;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  filter: none !important;
  transform: none !important;
  
  svg {
    display: none;
  }
  
  &[aria-disabled=true] {
    display: none;
  }
  
  cursor: url('/images/cursor-yellow.svg') 6 6, auto !important;
  cursor: -webkit-image-set(
    url('/images/cursor-yellow.svg') 1x,
    url('/images/cursor-yellow@2x.svg') 2x
  ) 6 6, auto !important;
}

.yarl__slide {
  padding: var(--outer-margin-x) !important;
  
  @include breakpoint($m-up) {
    padding: 9rem var(--outer-margin-x) !important;
  }
  
  .yarl__slide_image {
    max-width: auto !important;
    max-height: auto !important;
  }
}

.yarl__video_container {
  video {
    max-height: calc(100vh - 18rem);
  }
}